body {
    background-color:#a75726;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    height: 100%;
    padding: 20px 0 0 0;
}

ul {
    display: flex;
    justify-content: space-around;
    background: white;
    margin: 6px;
    line-height: 8px;
    list-style-type: none;
}