body {
    background-color:#FBEEE6;
}

.header, nav {
    background-color: #b57b6a;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-container{
    height: 2000px;
    width: 1000px;  
    object-fit: cover;
}

.image-style {
    display: block;
    max-width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
}

.mainText{
    font-size:18px;
    color:#353535;
    width: 100%;
    margin:auto;
    text-align: left;
    font-family: "Jokerman";
}

.mainText01{
    font-size:12px;
    color:#353535;
    width: 100%;
    margin:auto;
    text-align: left;
    font-family: "Century Schoolbook";
}







  .container{
    display: flex;
    justify-content:center;
    flex-direction:row;
    align-items:flex-start;
    position: relative;
    top: 10px;
    width: 1800px;
}




.left{
    background: #b57b6a;
    height: 60%;
    width: 80%;
    margin: 20px;
    padding: 30PX;
}
.right{
    background: #646e66;
    height:60%;
    width:40%;
    margin: 20px;
    padding: 30PX;
}

.subText{
    font-size:15px;
    color:white;
    width: 100%;
    text-align: left;
    font-family: "Century Schoolbook";
  }