body {
    background-color:yellowgreen;}

.container{
    display: flex;
    justify-content:center;
    flex-direction:row;
    align-items:flex-start;
    position: relative;
    top: 100px;
    width: 1500px;
}
.left{
    background: rgb(253, 139, 105);
    height: 60%;
    width: 40%;
    margin: 20px;
    padding: 20PX;
}
.right{
    background: orange;
    height:60%;
    width:40%;
    margin: 20px;
    padding: 20PX;
}