.mainText{
    font-size:18px;
    color:#353535;
    width: 1000px;
    margin:auto;
    text-align: center;
    font-family: "Jokerman";
  }
.mainText01{
    font-size:12px;
    color:#353535;
    width: 1000px;
    margin:auto;
    text-align: center;
    font-family: "Century Schoolbook";
  }
.subText{
    font-size:15px;
    color:#353535;
    width: 1680px;
    text-align: left;
    font-family: "Century Schoolbook";
  }